<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Serif SC:700">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://ldez.github.io//cubejs/lib/cube.js"></script>
	<script type="text/javascript">
	window.onload = () => {
		var app = new Vue({
			el: '#app',
			data: {
				width: 800,
				height: 800,
				innerRadius: 60,
				outerRadiusMultiplier: 4,
				lastMove: '',
				cube: new Cube(),
				animationStage: 3,
			},
			computed: {
				pieceRadius () {
					return this.innerRadius / 2
				},
				outerRadius () {
					return this.innerRadius * this.outerRadiusMultiplier
				},
				canvasCenterX () {
					return this.width / 2
				},
				canvasCenterY () {
					return this.height / 2
				},
				edgeEllipseOffset() {
					return this.innerRadius + this.edgeEllipseShortRadius
				},
				edgeEllipseShortRadius () {
					return (this.outerRadius - this.innerRadius) / 2
				},
				edgeEllipseLongRadius () {
					return this.innerRadius + this.edgeEllipseShortRadius
				},
				facePaths () {
					return {
						B: {
							cx: this.canvasCenterX, 
							cy: this.canvasCenterY, 
							rx: this.outerRadius,
							ry: this.outerRadius,
							fill: 'cornflowerBlue',
							darkFill: 'blue',
							label: '身',
							sublabel: 'Body'
						},
						F: {
							cx: this.canvasCenterX, 
							cy: this.canvasCenterY, 
							rx: this.innerRadius,
							ry: this.innerRadius,
							fill: 'forestGreen',
							darkFill: '#004f00',
							label: '心',
							sublabel: 'Mind'
						},
						U: {
							cx: this.canvasCenterX, 
							cy: this.canvasCenterY - this.edgeEllipseOffset, 
							rx: this.edgeEllipseLongRadius,
							ry: this.edgeEllipseShortRadius,
							fill: 'yellow',
							darkFill: 'gold',
							label: '天',
							sublabel: 'Heaven'
						},
						L: {
							cx: this.canvasCenterX - this.edgeEllipseOffset, 
							cy: this.canvasCenterY, 
							rx: this.edgeEllipseShortRadius,
							ry: this.edgeEllipseLongRadius,
							fill: '#ff726f',
							darkFill: '#b80404',
							label: '真',
							sublabel: 'Truth'
						},
						R: {
							cx: this.canvasCenterX + this.edgeEllipseOffset, 
							cy: this.canvasCenterY, 
							rx: this.edgeEllipseShortRadius,
							ry: this.edgeEllipseLongRadius,
							fill: 'orange',
							darkFill: '#bf5702',
							label: '美',
							sublabel: 'Beauty'
						},
						D: {
							cx: this.canvasCenterX, 
							cy: this.canvasCenterY + this.edgeEllipseOffset, 
							rx: this.edgeEllipseLongRadius,
							ry: this.edgeEllipseShortRadius,
							fill: 'white',
							darkFill: 'gray',
							label: '地',
							sublabel: 'Earth'
						}
					}
				},
				drawnFacePaths () {
					const facePaths = JSON.parse(JSON.stringify(this.facePaths))

					Object.keys(facePaths)
						.filter(face => face !== 'B')
						.forEach(face => {
							facePaths[face].rx -= this.pieceRadius
							facePaths[face].ry -= this.pieceRadius
						})

			
					
					facePaths.B.rx += this.pieceRadius * 3
					facePaths.B.ry += this.pieceRadius * 3

					return facePaths
				},
				epMap () {
					return [
						{
							x: this.edgeEllipseOffset,
							y: -this.edgeEllipseOffset,
							faces: {
								U: 75,
								R: 0
							},
							label: '天'
						},
						{
							x: 0,
							y: -this.innerRadius,
							faces: {
								U: 50,
								F: 0
							},
							label: '天'
						},
						{
							x: -this.edgeEllipseOffset,
							y: -this.edgeEllipseOffset,
							faces: {
								U: 25,
								L: 0
							},
							label: '天'
						},
						{
							x: 0,
							y: -this.outerRadius,
							faces: {
								U: 0,
								B: 0
							},
							label: '天'
						},
						{
							x: this.edgeEllipseOffset,
							y: this.edgeEllipseOffset,
							faces: {
								D: 75,
								R: 50
							},
							label: '地'
						},
						{
							x: 0,
							y: this.innerRadius,
							faces: {
								D: 0,
								F: 50
							},
							label: '地'
						},
						{
							x: -this.edgeEllipseOffset,
							y: this.edgeEllipseOffset,
							faces: {
								D: 25,
								L: 50
							},
							label: '地'
						},
						{
							x: 0,
							y: this.outerRadius,
							faces: {
								D: 50,
								B: 50
							},
							label: '地'
						},
						{
							x: this.innerRadius,
							y: 0,
							faces: {
								R: 25,
								F: 75
							},
							label: '美'
						},
						{
							x: -this.innerRadius,
							y: 0,
							faces: {
								L: 75,
								F: 25
							},
							label: '真'
						},
						{
							x: -this.outerRadius,
							y: 0,
							faces: {
								L: 25,
								B: 25
							},
							label: '真'
						},
						{
							x: this.outerRadius,
							y: 0,
							faces: {
								R: 75,
								B: 75
							},
							label: '美'
						}
					].map(pos => ({
						...pos,
						majorFace: Object.keys(pos.faces)[0],
						minorFace: Object.keys(pos.faces)[1],
						x: pos.x + this.canvasCenterX,
						y: pos.y + this.canvasCenterY
					}))
				},
				transitionDuration () {
					return {
						B: 0.5,
						F: 0.25,
						U: 0.3,
						D: 0.3,
						L: 0.3,
						R: 0.3
					}[this.lastMove[0]]
				},
				edges () {
					return this.cube.ep
						.map((pieceKey, pos) => {
							const piece = this.epMap[pieceKey]
							const mappedPos = this.epMap[pos]

							if (this.animationStage < 2 && this.lastMove[0] in mappedPos.faces) {
								const animatePercentage = mappedPos.faces[this.lastMove[0]]
								const facePath = this.facePaths[this.lastMove[0]]
								const isClockwise = (this.lastMove[1] === '\'') === (this.lastMove[0] === 'B')
								const rotateDeg = this.lastMove[0] === 'B' 
									? -180 * 5
									: this.lastMove[0] === 'F'
										? 180  
										: 360

								const fromDeg = !!this.cube.eo[pos] === ['F', 'B'].includes(this.lastMove[0]) ? 0 : 180
								const toDeg = fromDeg + (isClockwise ? rotateDeg : -rotateDeg)

								return {
									key: pieceKey,
									class: Object.keys(mappedPos.faces),
									label: piece.label,
									style: {
										offsetPath: `path('M ${facePath.cx} ${facePath.cy - facePath.ry} a ${facePath.rx} ${facePath.ry} 0 1 0 1 0 z')`,
										...{
											0: {
												offsetDistance: `${animatePercentage + (isClockwise ? 25 : -25)}%`,
												transform: `rotate(${fromDeg}deg)`
											},
											1: {
												offsetDistance: `${animatePercentage}%`,
												transition: `offset-distance linear ${this.transitionDuration}s, transform linear ${this.transitionDuration}s`,
												animationDirection: isClockwise ? 'normal' : 'reverse',
												transform: `rotate(${toDeg}deg)`
											}
										}[this.animationStage]
									}
								}
							}

							return {
								key: pieceKey,
								isSolved: pieceKey === pos && !this.cube.eo[pos],
								class: [ 
									Object.keys(mappedPos.faces),
									...(pieceKey === pos && !this.cube.eo[pos]) ? ['solved'] : []
								],
								label: piece.label,
								style: {
									offsetPath: `path('M ${mappedPos.x} ${mappedPos.y}')`,
									transform: `${this.cube.eo[pos] ? `rotate(180deg)` : 'rotate(0deg)'}`
								}
							}
						})
				},
				isSolved () {
					return this.edges.every(edge => edge.isSolved)
				}
			},
			methods: {
				scramble () {
					this.lastMove = ''

					const cube = new Cube()
					cube.randomize()	

					this.cube = cube
				},
				reset () {
					this.lastMove = ''

					this.cube = new Cube()
				},
				async move (alg) {
					if (this.animationStage !== 3) {
						await new Promise((resolve, reject) => {
							const unwatch = this.$watch('animationStage', () => {
								if (this.animationStage === 3) {
									this.animationStage = 4

									resolve()
									unwatch()
								}
							})
						})
					}

					this.lastMove = alg

					this.cube.move(alg)

					requestAnimationFrame(() => {
						this.animationStage = 0
						requestAnimationFrame(() => {
							this.animationStage = 1
							requestAnimationFrame(() => {
								setTimeout(() => {
									this.animationStage = 2
									requestAnimationFrame(() => {
										this.animationStage = 3
									})
								}, this.transitionDuration * 1000)
							})
						})
					})
				}
			}
		})
	}
	</script>
	<style>
		* {
			user-select: none;
			box-sizing: border-box;
		}

		body {
			margin: 0;
			padding: 0;
			background-color: beige;
		}

		.faceGroup:hover .face {
			stroke: black;
		}
		
		#B:hover ~ .faceBg {
			stroke: black;
		}

		.faceBg {
			fill: lightgray;
			stroke: gray;
			stroke-width: 2px;
		}

		.face {
			cursor: pointer;
			stroke: gray;
			stroke-width: 2px;
		}

		.face, .faceBg {
			transition: stroke 0.2s;
		}

		.piece {
			offset-rotate: 0deg;
			transform-box: fill-box;
			transform-origin: center;
		}

		.majorCircle {
			stroke: rgb(36, 36, 36);
			stroke-width: 2px;
		}

		.majorCircleOverlay {
			opacity: 0;
		}

		.solved .majorCircleOverlay {
			opacity: 1;
		}

		@keyframes fadein {
			from { 
				opacity: 0; 
			}
			to   { 
				opacity: 1; 
			}
		}

		button {
			background-color: chocolate;
			border: 3px outset rgb(171, 85, 24);
			cursor: pointer;
			color: white;
			padding: 8px 12px;
			font-size: 20px;
			opacity: 0.8;
			transition: opacity 0.2s;
		}

		button:active {
			border-style: inset;
		}

		button:hover {
			opacity: 1;
		}

		.characterText {
			font-size: 26px; 
			font-weight: 700; 
			font-family: 'Noto Serif SC';
		}
	</style>
</head>
<body>
	<div id="app">
		<div 
			style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: min(100vw, 100vh); height: min(100vw, 100vh); margin: auto; padding: 10px;"
			:style="{ maxWidth: width + 60 + 'px', maxHeight: height + 60 + 'px' }">
			<svg 
				@contextmenu.prevent
				height="100%"
				width="100%"
				:view-box.camel="`0 0 ${width} ${height}`"
				xmlns="http://www.w3.org/2000/svg"
				style="background-color: bisque; border: 20px outset burlywood;">
				<defs>
					<radialGradient id="glow">
					  <stop offset="85%" stop-color="#00FF00" />
					  <stop offset="100%" stop-color="#00FF0000" />
					</radialGradient>
        </defs>

				<g style="transform: translate(40px, 40px) scaleX(-1); transform-box: fill-box; transform-origin: center;">
					<g style="transform: scale(0.4);">
						<path sodipodi:rx="100" sodipodi:ry="100" sodipodi:type="arc" d="m132 10a100 100 0 1 1 -100 100" sodipodi:open="true" stroke="#000" sodipodi:cy="110" sodipodi:cx="132" fill="none" stroke-width="20" sodipodi:end="9.424778" sodipodi:start="4.712389"/>
						<path d="m0 110 32-64 32 64z"/>
					</g>
					<path
						style="transform: scale(2.5) translate(9px, 6px);"
							d="M 12 2 C 7.5700855 2 4 5.5700855 4 10 L 4 14 C 4 18.429915 7.5700855 22 12 22 C 16.429915 22 20 18.429915 20 14 L 20 10 C 20 5.5700855 16.429915 2 12 2 z M 11 4.09375 L 11 10 L 6 10 C 6 6.9737543 8.1270439 4.5579781 11 4.09375 z M 6 12 L 18 12 L 18 14 C 18 17.370085 15.370085 20 12 20 C 8.6299145 20 6 17.370085 6 14 L 6 12 z"/>
				</g>
				<g style="transform: scaleX(-1); transform-box: content-box; transform-origin: center;">
					<g style="transform: translate(40px, 40px) scaleX(-1); transform-box: fill-box; transform-origin: center;">
						<g style="transform: scale(0.4);">
							<path sodipodi:rx="100" sodipodi:ry="100" sodipodi:type="arc" d="m132 10a100 100 0 1 1 -100 100" sodipodi:open="true" stroke="#000" sodipodi:cy="110" sodipodi:cx="132" fill="none" stroke-width="20" sodipodi:end="9.424778" sodipodi:start="4.712389"/>
							<path d="m0 110 32-64 32 64z"/>
						</g>
						<path
							style="transform: scale(2.5) translate(9px, 6px);"
							d="M 12 2 C 7.5700855 2 4 5.5700855 4 10 L 4 14 C 4 18.429915 7.5700855 22 12 22 C 16.429915 22 20 18.429915 20 14 L 20 10 C 20 5.5700855 16.429915 2 12 2 z M 11 4.09375 L 11 10 L 6 10 C 6 6.9737543 8.1270439 4.5579781 11 4.09375 z M 6 12 L 18 12 L 18 14 C 18 17.370085 15.370085 20 12 20 C 8.6299145 20 6 17.370085 6 14 L 6 12 z"/>
					</g>
				</g>
				<g>
					<template
						v-for="(path, face) in drawnFacePaths">
						<g
							v-if="face === 'B'"
							:key="face"
							:id="face"
							class="faceGroup"
							@click="move(face !== 'B' ? face + '\'' : face)"
							@contextmenu.prevent="move(face !== 'B' ? face : face + '\'')"
							style="cursor: pointer;">
							<ellipse 
								v-if="isSolved"
								fill="url(#glow)"
								style="			
									animation: fadein 0.2s ease-out;
									opacity: 1;
								"
								:cx="path.cx"
								:cy="path.cy"
								:rx="path.rx + 40"
								:ry="path.ry + 40"/>
							<ellipse 
								class="face"
								v-bind="path"/>
							<text 
								:x="path.cx - 0.707 * path.rx"
								:y="path.cy + pieceRadius - 0.707 * path.ry"
								dy="4"
								text-anchor="middle"
								dominant-baseline="middle"
								class="characterText">{{ path.label }}</text>
							<text 
								:x="path.cx - 0.707 * path.rx"
								:y="path.cy + pieceRadius - 0.707 * path.ry"
								dy="25"
								text-anchor="middle"
								dominant-baseline="middle"
								style="font: 15px arial; font-weight: bold;">{{ path.sublabel }}</text>
						</g>
					</template>
					
					<circle 
						class="faceBg"
						:cx="canvasCenterX"
						:cy="canvasCenterY"
						:r="edgeEllipseOffset + edgeEllipseShortRadius + pieceRadius"/>

					<template
						v-for="(path, face) in drawnFacePaths">
						<g
							v-if="face !== 'B'"
							:key="face"
							:id="face"
							class="faceGroup"
							@click="move(face !== 'B' ? face + '\'' : face)"
							@contextmenu.prevent="move(face !== 'B' ? face : face + '\'')"
							style="cursor: pointer;">
							<ellipse 
								class="face"
								v-bind="path"/>
							<text 
								:x="path.cx" 
								:y="path.cy"
								dy="-5"
								text-anchor="middle"
								dominant-baseline="middle"
								class="characterText">{{ path.label }}</text>
							<text 
								:x="path.cx"  
								:y="path.cy"
								dy="16"
								text-anchor="middle"
								dominant-baseline="middle"
								style="font: 15px arial; font-weight: bold;">{{ path.sublabel }}</text>
						</g>
					</template>
					<g 
						v-for="edge in edges" 
						v-bind="edge"
						class="piece">
						<circle 
							class="majorCircleOverlay"
							fill="url(#glow)"
							:r="pieceRadius + 6"/>
						<circle 
							class="majorCircle"
							:r="pieceRadius"
							:fill="facePaths[epMap[edge.key].majorFace].fill"/>
						<circle 
							:r="pieceRadius - 5"
							fill="none"
							stroke-width="2"
							:stroke="facePaths[epMap[edge.key].minorFace].darkFill"/>
						<circle 
							:r="pieceRadius / 8"
							cx="0"
							:cy="-pieceRadius * 9 / 16"
							:fill="facePaths[epMap[edge.key].minorFace].darkFill"/>
						<text
							:fill="facePaths[epMap[edge.key].minorFace].darkFill"
							text-anchor="middle"
							dominant-baseline="middle"
							dy="6"
							class="characterText">
							{{ edge.label }}
						</text>
					</g>
				</g>
			</svg>
			
			<button style="position: absolute; bottom: 40px; left: 40px;" @click="scramble()">Scramble</button>
			<button style="position: absolute; bottom: 40px; right: 40px;" @click="reset()">Reset</button>
		</div>
	</div>
</body>
</html>